# Python
*.py[co]
*.egg-info

# Login info
wp_private.py
replica.my.cnf

# Skip DB, rotated logs and backups
*.db
*.log*
*.bak
instance

# System stuff
*.swp
*.vim*
*.DS_Store
*.bash*
.profile
.inputrc
.ipython
.sqlite_history

ENV
www/python/venv
